.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #4b659b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(154, 156, 37);
}

.App-link {
  color: #09d3ac;
}
.completedTask {
  text-decoration: line-through;
}

.taskRow {
padding-bottom: 10px;
padding-top: 10px;
border-top: 2px solid blue;
}