.App {
  text-align: center;

  background-image:url("https://image.freepik.com/free-vector/beauty-soft-yellow-watercolor-background_3785-259.jpg");

  border:2px solid rgb(194, 144, 7);
  background-color:rgb(189, 187, 82);
  min-height:450px;
  width: 550px;
  margin: 20px auto;
  padding: 40px;
}

.App-logo {
  height: 40vmin;
}

.App-header {


 text-align: left;
  font-size: inherit;
  font-family: 'Times New Roman', Times, serif;
  font-style:italic ;
  font-stretch: normal; 
  font-feature-settings:normal;
  font-size:1px;
}

.App-link {
  color: #d6d87c;
}
.completedTask {
  text-decoration: line-through solid;
  color: black;
}


.taskRow {
padding-bottom: 10px;
padding-top: 10px;
}
